SURREALDB_HOST=http://127.0.0.1:8000
SURREALDB_NAMESPACE=canary
SURREALDB_NAME=app
SURREALDB_USER=root
SURREALDB_PASSWORD=root
SURREALDB_AUTH_LEVEL=root
SURREALKIT_TEST_BASE_URL=http://127.0.0.1:8080
