name: canary

services:
  postgres:
    build: .
    container_name: postgres
    command:
      - postgres
      - -c
      - max_wal_size=8GB
      - -c
      - checkpoint_timeout=30min
      - -c
      - maintenance_work_mem=1GB
      - -c
      - checkpoint_completion_target=0.9
      - -c
      - wal_compression=on
      - -c
      - max_worker_processes=8
    environment:
      POSTGRES_DB: canary
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
      - ./init-vector.sql:/docker-entrypoint-initdb.d/init-vector.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  pgdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Volumes/Yggdrasil/Projects/canary/PostgresData
